<div fxLayout="column" fxLayoutAlign=" center" style="height: 240px;">
    <div fxFlex="20" style="width: 100%;">
        <div class="title" fxLayout="row" fxLayoutAlign="center center">通知</div>
    </div>
    <div fxFlex="60" class="content" fxLayoutAlign=" center">確定連接LINE NOTIFY嗎？</div>
    <div fxFlex="20" class="footer" fxLayout="row" fxLayoutAlign="space-between end">
        <button mat-raised-button mat-dialog-close>
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon>close</mat-icon>
                取消
            </div>
        </button>
        <button mat-raised-button (click)="connectLineNotify()"
            style="margin-left: 10px; color: white;" color="accent">
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon>done</mat-icon>
                確定
            </div>
        </button>
    </div>
</div>