<div fxLayout="column" fxLayoutAlign=" center" style="height: 240px;">
    <div fxFlex="20" class="title" fxLayout="column" fxLayoutAlign="center center">通知</div>
    <div fxFlex="60" class="content" fxLayoutAlign=" center">確定連接LINE NOTIFY嗎？</div>
    <div fxFlex="20" class="footer" fxLayout="row" fxLayoutAlign="space-evenly center">
        <button mat-raised-button (click)="connectLineNotify()" color="primary" style="margin-right: 10px; background: #efd74d; color: #333333;">確定</button>
        <button mat-raised-button style="background-color: #fffffe; color: red;" mat-dialog-close>取消</button>
    </div>
</div>