<div fxLayout="column" fxLayoutAlign=" center" style="height: 240px;">
    <div fxFlex="20" style="width: 100%;">
        <div class="title" fxLayout="row" fxLayoutAlign="center center">刪除單位</div>
    </div>
    <div fxFlex="60" class="content" fxLayout="column" fxLayoutAlign="space-around ">
        <div><b>名稱：</b> {{this.deviceUnitName}}</div>
    </div>
    <div fxFlex="20" class="footer" fxLayout="row" fxLayoutAlign="space-evenly center">
        <button mat-raised-button mat-dialog-close>
            <mat-icon>close</mat-icon>
            取消
        </button>
        <button mat-raised-button [mat-dialog-close]="true" style="margin-left: 10px;" color="warn" (click)="delete()">
            <mat-icon>delete</mat-icon>
            刪除
        </button>
    </div>
</div>