<div fxLayout="column" fxLayoutAlign=" center" style="height: 320px;">
    <div fxFlex="20" class="title" fxLayout="column" fxLayoutAlign="center center">通知</div>
    <div fxFlex="60" class="content" fxLayout="column" fxLayoutAlign="space-around ">
        <div><b>帳號或密碼輸入錯誤</b></div>
    </div>
    <div fxFlex="20" class="footer" fxLayout="row" fxLayoutAlign="space-evenly center">
        <button mat-raised-button mat-dialog-close>
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon>close</mat-icon>
                關閉
            </div>
        </button>
    </div>
</div>