<div class="dialog-title">
    <h1 mat-dialog-title>新增單位</h1>
</div>
<div mat-dialog-content>
    <form class="newUnitForm" [formGroup]="newUnitForm">
        <div class="formInput">
            <mat-form-field appearance="outline">
                <mat-label for="unitName"> 單位名稱 </mat-label>
                <input matInput id="unitName" formControlName="deviceUnitName" required/>
                <mat-error *ngIf="unitName?.errors?.['required']">
                    請輸入單位名稱
                </mat-error>  
            </mat-form-field>   
        </div>
    </form>
</div>
<div mat-dialog-actions class="dialog-action">
    <button mat-raised-button mat-dialog-close>取消</button>
    <!-- <button mat-raised-button [mat-dialog-close]="true" color="accent" (click)="addUnit()">新增</button> -->
    <button mat-raised-button [disabled]="!newUnitForm.valid" color="accent" (click)="addUnit()">新增</button>

</div>