<div fxLayout="column" fxLayoutAlign=" center" style="height: 320px;">
    <div fxFlex="20" class="title" fxLayout="column" fxLayoutAlign="center center">新增單位</div>
    <div fxFlex="60" class="content" fxLayout="column" fxLayoutAlign="space-around ">
        <form class="newUnitForm" [formGroup]="newUnitForm" fxLayout="column" fxLayoutAlign="space-around center">
            <mat-form-field color="primary" appearance="outline" style="width: 60%;">
                <mat-label for="deviceUnitName"> 單位名稱 </mat-label>
                <input matInput id="deviceUnitName" formControlName="deviceUnitName" required />
                <mat-error align="end">
                    <span *ngIf="deviceUnitName?.errors?.['required']">
                        請輸入單位名稱
                    </span>
                    <span *ngIf="deviceUnitName?.errors?.['minlength']">
                        單位名稱至少要有2個字
                    </span>
                    <span *ngIf="deviceUnitName?.errors?.['cannotEmpty']">
                        單位名稱不可為空
                    </span>
                    <span *ngIf="deviceUnitName?.errors?.['uniqueAlterEgo']">
                        單位名稱已存在
                    </span>
                </mat-error>
            </mat-form-field>
        </form>
    </div>
    <div fxFlex="20" class="footer" fxLayout="row" fxLayoutAlign="space-around center">
        <button mat-raised-button mat-dialog-close>
            <div fxLayout="row" fxLayoutAlign="center center" style="color: red;">
                <mat-icon>close</mat-icon>
                取消
            </div>
        </button>
        <button mat-raised-button [mat-dialog-close]="true" (click)="addUnit()"
            style="margin-left: 10px; color: white;" [disabled]="!newUnitForm.valid" color="accent">
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon>add</mat-icon>
                新增
            </div>
        </button>
    </div>
</div>