<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center">
        <div>
            <button mat-icon-button (click)="goBack()">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
    </div>
    <div class="header">
        <div fxLayout="row" class="device-detail" fxLayoutAlign="start end" style="margin: 10px 20px 0 20px;">
            <div class="devicename">{{this.deviceName}}</div>
            <div style="font-size: 20px; margin-right: 10px;">{{this.deviceUnitName}}</div>
            <div style="font-size: 20px; margin-right: 10px;">{{this.devicePlaceName}}</div>
        </div>

    </div>
    <div fxLayout="column" fxLayoutAlign="space-evenly start" style="margin: 10px 20px 0 20px; height: 76vh;">
        <mat-card class="electricity-generated-card" fxLayout="column" fxLayoutAlign="space-evenly start" fxFlex="20">
            <mat-card-header fxLayout="row" fxLayoutAlign="space-evenly center">
                <mat-card-title>發電數據</mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayoutAlign="space-evenly center" style="width: 100%; margin-top: 8px;">
                <div fxLayout="row" fxFill>
                    <div fxLayout="column" fxLayoutAlign="start start" fxFlex="20">
                        <mat-card-subtitle>今日發電量</mat-card-subtitle>
                        <div class="data-div">{{this.battPower}}</div>
                    </div>
                    <mat-divider vertical="true" style="height: 8vh; margin: 0 4px 4px 0;"></mat-divider>
                    <div fxLayout="column" fxLayoutAlign="start start" fxFlex="20">
                        <mat-card-subtitle>昨日發電量</mat-card-subtitle>
                        <div class="data-div">{{this.battPower}}</div>
                    </div>
                    <mat-divider vertical="true" style="height: 8vh; margin: 0 4px 4px 0;"></mat-divider>
                    <div fxLayout="column" fxLayoutAlign="start start" fxFlex="20">
                        <mat-card-subtitle>明日發電量(預估)</mat-card-subtitle>
                        <div class="data-div">{{this.battPower}}</div>
                    </div>
                    <mat-divider vertical="true" style="height: 8vh; margin: 0 4px 4px 0;"></mat-divider>
                    <div fxLayout="column" fxLayoutAlign="start start" fxFlex="20">
                        <mat-card-subtitle>本週發電量</mat-card-subtitle>
                        <div class="data-div">{{this.battPower}}</div>
                    </div>
                    <mat-divider vertical="true" style="height: 8vh; margin: 0 4px 4px 0;"></mat-divider>
                    <div fxLayout="column" fxLayoutAlign="start start" fxFlex="20">
                        <mat-card-subtitle>本月發電量</mat-card-subtitle>
                        <div class="data-div">{{this.battPower}}</div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <div fxLayout="row" fxFlex="80" fxFill>
            <div fxFlex="40" fxLayoutAlign="space-evenly center" fxLayout="column">
                <mat-card class="history-card" fxFlex="50">
                    <mat-card-header>
                        <mat-card-title>歷史紀錄查詢</mat-card-title>
                    </mat-card-header>
                    <mat-card-content style="margin-top: 8px; height: 100%;" fxLayoutAlign="center center">
                        <!-- <mat-form-field color="accent">
                                    <mat-label>查詢類型</mat-label>
                                    <mat-select [(value)]="selectedType">
                                        <mat-option [value]="option.value" *ngFor="let option of types">{{
                                            option.viewValue
                                            }}</mat-option>
                                    </mat-select>
                                </mat-form-field> -->
                        <mat-form-field color="accent" style="margin-left: 8px;">
                            <mat-label>選擇日期</mat-label>
                            <input matInput [matDatepicker]="picker" [formControl]="date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <button mat-raised-button color="primary" style="margin-left: 8px; color: white;"
                            (click)="search('0ms', '0ms')">詳細資料</button>
                    </mat-card-content>
                </mat-card>
                <mat-card class="control-card" fxFlex="50">
                    <mat-card-header>
                        <mat-card-title>控制項目</mat-card-title>
                    </mat-card-header>
                    <mat-card-content fxLayout="row" fxLayoutAlign="center center"
                        style="margin-top: 8px; height: 100%;">
                        <div fxLayout="column" fxLayoutAlign="space-evenly start" fxFlex="50">
                            <mat-card-subtitle>電池充放電</mat-card-subtitle>
                            <div fxLayoutAlign="center center" fxLayout="row">
                                <mat-icon style="margin-right: 2px;">battery_charging_full</mat-icon>
                                <mat-slide-toggle (change)="battChange($event.checked)"></mat-slide-toggle>
                                <mat-icon>power</mat-icon>
                            </div>
                        </div>
                        <mat-divider vertical="true" style="height: 8vh; margin: 0 4px 4px 0;"></mat-divider>
                        <div fxLayout="column" fxLayoutAlign="space-evenly start" fxFlex="50">
                            <mat-card-subtitle>供電來源</mat-card-subtitle>
                            <div fxLayoutAlign="center center" fxLayout="row">
                                <mat-icon style="margin-right: 2px;">home</mat-icon>
                                <mat-slide-toggle (change)="loadChange($event.checked)"></mat-slide-toggle>
                                <mat-icon>solar_power</mat-icon>
                            </div>
                        </div>


                        <!-- <mat-card-content>
                        <div style="font-size: 20px;">碳排試算</div>
                        <mat-list>
                            <mat-list-item style="height: 100%;">
                                <mat-form-field color="primary">
                                    <mat-label>選擇日期</mat-label>
                                    <input matInput [matDatepicker]="picker">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </mat-list-item>
                        </mat-list>

                    </mat-card-content>
                    <mat-card-footer>
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </mat-card-footer> -->
                    </mat-card-content>
                </mat-card>

            </div>
            <div fxFlex="60" fxLayoutAlign="center">
                <mat-card class="batt-data-card">
                    <mat-card-header>
                        <mat-card-title>電池資訊</mat-card-title>
                    </mat-card-header>
                    <mat-card-content fxLayout="row" style="height: 100%;">
                        <mat-list role="list" fxFlex="30">
                            <mat-list-item role="listitem">
                                <div>
                                    <div>電壓</div>
                                    <div>{{this.battVoltage}}</div>
                                </div>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <div>
                                    <div>電流</div>
                                    <div>{{this.battAmpere}}</div>
                                </div>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <div>
                                    <div>功率</div>
                                    <div>{{this.battWatt}}</div>
                                </div>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <div>
                                    <div>充放電狀態</div>
                                    <div>{{this.battState}}</div>
                                </div>
                            </mat-list-item>
                        </mat-list>
                        <div fxFlex="70">
                            <app-battery-data></app-battery-data>
                        </div>
                    </mat-card-content>
                </mat-card>

            </div>
        </div>
    </div>
</div>