.header {
  .device-detail {
    width: 95vw;

    .devicename {
      display: flex;
      justify-content: center;
      width: 250px;
      border-radius: 4px;
      font-size: 30px;
      margin-left: 10px;
      margin-right: 10px;
      background: #6B916B;
      color: white;
    }
  }
}

.example-card {
  width: 100vw;
  // height: 384px;
  margin: 10px;
  height: 60vh;
}

.mat-divider.mat-divider-horizontal {
  margin: 10px;
  border-top-width: 4px;
  border-color: #4E6E62;

}