<div fxFill>
    <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div>
                <button mat-icon-button [routerLink]="'/app-home/app-device-manage'">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </div>
            <!-- <div fxLayoutAlign="start">
                <div>裝置名稱{{deviceName}}</div>
                <div>單位名稱</div>
                <div>地點名稱</div>
            </div> -->
        </div>
        <div class="header">
            <!-- <mat-card style=" margin: 10px;"> -->
            <div fxLayout="row" class="device-detail" fxLayoutAlign="start end"
                style=" margin-left: 10px; margin-top: 10px;">
                <div class="devicename">{{this.deviceDetail.deviceName}}</div>
                <div style="font-size: 20px; margin-right: 10px;">{{this.deviceDetail.deviceUnitName}}</div>
                <div style="font-size: 20px; margin-right: 10px;">{{this.deviceDetail.devicePlaceName}}</div>
            </div>
            <!-- </mat-card> -->

        </div>
        <!-- <mat-divider></mat-divider> -->
        <div fxLayout="row" fxLayoutAlign="space-evenly start">
            <div fxFlex="40" fxLayoutAlign="center">
                <mat-card class="example-card">
                    <mat-card-content>
                        <div style="font-size: 20px;">太陽能板數據</div>
                        <mat-list>
                            <mat-list-item>
                                電池電量：{{this.deviceDetail.batteryPower}}%
                            </mat-list-item>
                            <mat-list-item>
                                電壓：{{this.deviceDetail.battVoltage}}V
                            </mat-list-item>
                            <mat-list-item>
                                電流：{{this.deviceDetail.battAmpere}}A
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                    <mat-card-footer>
                        <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
                    </mat-card-footer>
                </mat-card>
            </div>
            <div fxFlex="60" fxLayoutAlign="center">
                <mat-card class="example-card">
                    <mat-card-content>
                        <div style="font-size: 20px;">碳排試算</div>
                        <mat-list>
                            <mat-list-item style="height: 100%;">
                                <mat-form-field color="primary">
                                    <mat-label>選擇日期</mat-label>
                                    <input matInput [matDatepicker]="picker">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </mat-list-item>
                        </mat-list>
                        
                    </mat-card-content>
                    <mat-card-footer>
                        <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>
    </div>
</div>