.header {
  .device-detail {

    .devicename {
      display: flex;
      justify-content: center;
      width: 250px;
      border-radius: 4px;
      font-size: 30px;
      margin-right: 10px;
      background: #82bbb5;
      color: white;
    }
  }
}

.electricity-generated-card {
  width: 100%;
  .cardTitle {
    font-size: 24px;
    background: #bae8e8;
    border-radius: 4px 4px 0 0;
  }
}

.batt-data-card{
  width: 100%;
  margin-bottom: 10px;
}

.control-card {
  width: 100%;
  margin-top: 10px;

  .cardTitle {
    font-size: 24px;
    background: #bae8e8;
    border-radius: 4px 4px 0 0;
  }
}

.data-div{
  font-size: 30px;
}

.chart-card {
  width: 100%;
  margin-left: 20px;
  // margin: 10px;
  // height: 60vh;

  .cardTitle {
    font-size: 24px;
    background: #bae8e8;
    border-radius: 4px 4px 0 0;
  }
}

.mat-divider.mat-divider-horizontal {
  margin: 10px;
  border-top-width: 4px;
  border-color: #4E6E62;

}