<div fxFil style="width: 100%;">
    <img style="background: #D1E6DB" class="bg-img" />
    <div fxLayout="row">
        <mat-card class="login-card">
            <div class="logo-div">
                <mat-card-header>
                    太陽能節碳評估系統
                </mat-card-header>
            </div>
            <mat-card-content>
                <mat-tab-group color="primary">
                    <mat-tab label="登入">
                        <div class="content-div">
                            <form [formGroup]="loginForm">
                                <div>
                                    <mat-form-field class="input-div" appearance="outline">
                                        <mat-label for="username">帳號</mat-label>
                                        <input type="text" matInput formControlName="userAccount">
                                        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                                        <!-- <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com"> -->
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field class="input-div" appearance="outline">
                                        <mat-label for="password">密碼</mat-label>
                                        <input [type]="hide ? 'password' : 'text'" matInput formControlName="userPassword">
                                        <button mat-icon-button matSuffix (click)="hide =!hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </div>
                                <button mat-raised-button class="submit-button" color="accent" (click)="login()"
                                    [disabled]="!loginForm.valid">登入</button>

                            </form>
                        </div>
                    </mat-tab>
                    <mat-tab label="註冊">
                        <div class="content-div">
                            <form [formGroup]="registerForm">
                                <div>
                                    <mat-form-field class="input-div" color="primary" appearance="outline">
                                        <mat-label for="username">帳號</mat-label>
                                        <input type="text" matInput formControlName="userAccount">
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field class="input-div" appearance="outline">
                                        <mat-label for="email">電子郵件</mat-label>
                                        <input type="email" matInput formControlName="userEmail">
                                    </mat-form-field>
                                </div>
                                <div *ngIf="userEmail?.invalid && (userEmail?.dirty || userEmail?.touched)"
                                    class="alert alert-danger">
                                    <div>
                                        <div *ngIf="userEmail?.errors?.['required']">Email 是必要的</div>
                                        <div *ngIf="userEmail?.errors?.['email']">Email 格式無效</div>
                                    </div>
                                </div>
                                <div>
                                    <mat-form-field class="input-div" appearance="outline">
                                        <mat-label for="phone">電話</mat-label>
                                        <input type="text" matInput formControlName="userPhone">
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field class="input-div" appearance="outline">
                                        <mat-label for="password">密碼</mat-label>
                                        <input [type]="hide ? 'password' : 'text'" matInput formControlName="userPassword">
                                        <button mat-icon-button matSuffix (click)="hide =!hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </div>


                                <!-- <div>
                                    <mat-form-field class="input-div">
                                        <mat-label for="confirmPassword">Confirm Password</mat-label>
                                        <input type="password" matInput id="confirmPassword"
                                            formControlName="confirmPassword">
                                    </mat-form-field>
                                </div> -->
                                <button mat-raised-button color="accent" class="submit-button" (click)="register()"
                                    [disabled]="!registerForm.valid">註冊</button>
                            </form>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
</div>