<div style="width: 100%; height: 100%;" class="bg-img">
    <div class="mask1"></div>
    <!-- <div class="Polygon"></div> -->
    <!-- <img class="bg-img" /> -->
    <div fxFlex="65"></div>
    <div fxFlex="35" fxLayout="column" fxLayoutAlign="center center">
        <div fxFlex="30">
            <img src="/assets/img/sun.png" class="sun-img" />
        </div>
        <div fxFlex="10" fxLayout="row" fxLayoutAlign=" center">
            <div style="color: #37474f; font-size: 2rem; font-weight: 900; position: relative;">太陽能試算系統</div>
        </div>
        <mat-card fxLayout="column" fxLayoutAlign="center center" class="content-div" fxFlex="50">

            <div fxFlex="20" style="font-size: 1.2rem; font-weight: bold; color: #37474f;"
                fxLayoutAlign="center center">登入</div>
            <form [formGroup]="loginForm" fxFlex="80">
                <div>
                    <mat-form-field class="input-div" appearance="outline">
                        <mat-label for="username">帳號</mat-label>
                        <input type="text" matInput formControlName="userAccount">
                        <mat-error align="end">
                            <span
                                *ngIf="userAccountLogin?.invalid && (userAccountLogin?.dirty || userAccountLogin?.touched)">
                                <span *ngIf="userAccountLogin?.errors?.['required']">
                                    帳號 是必要的
                                </span>
                                <span span *ngIf="userAccountLogin?.errors?.['pattern']">
                                    格式無效
                                </span>
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="input-div" appearance="outline">
                        <mat-label for="password">密碼</mat-label>
                        <input [type]="hide ? 'password' : 'text'" matInput formControlName="userPassword">
                        <button mat-icon-button type="button" matSuffix (click)="hide =!hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error align="end">
                            <span
                                *ngIf="userPasswordLogin?.invalid && (userPasswordLogin?.dirty || userPasswordLogin?.touched)">
                                <span *ngIf="userPasswordLogin?.errors?.['required']">
                                    密碼 是必要的
                                </span>
                                <span *ngIf="userPasswordLogin?.errors?.['pattern']">
                                    格式無效
                                </span>
                                <span *ngIf="userPasswordLogin?.errors?.['minlength']">
                                    長度不足
                                </span>
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <button mat-raised-button class="submit-button" color="primary" (click)="login()"
                    [disabled]="!loginForm.valid">登入</button>
            </form>
        </mat-card>
        <div fxFlex="20"></div>
    </div>
</div>