.pageheader {
    height: 56px;
    margin-top: 1.3rem
}

.pagetitle {
    // background: url('assets/img/tag.png') no-repeat 0 0;
    background: #4E6E62;
    height: 56px;
    font-size: 24px;
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    .title-icon {
        margin-left: 1.3rem;
    }

    // margin: 1.3rem 1.3rem 0 1.3rem;
}

.map-div{
    width: 100%;
    .block{
        width: 60%;
        height: 74vh;
        g {
            fill: transparent;
            transition: 0.6s;
            cursor: pointer;
            path{
                fill: black;
            }
            rect, polygon{
                fill: #D1E6DB;
            }
        }
        g:hover {
            transform: translate(-5px, -5px);
            path{
                fill: white !important;
            }
            rect, polygon{
                fill: #6B916B;
            }
        }
    }
    // .vertical-divider{
    //     display: flex;
    //     justify-content: space-between;
    //     padding: 10px;
    //     border: 10px;
    // }
}

body {
    background-color: #222
}
