.mainTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 8px;
    border-radius: 5px 5px 0 0;
    font-size: 3ch;
}
.pageheader {
    height: 56px;
    margin-top: 1.3rem
}
.info-title {
    font-weight: bold;
}
.operationCol {
    display: flex;
}