<div fxLayout="column" fxLayoutAlign=" center" style="height: 480px;">
    <div fxFlex="15" class="title" fxLayout="column" fxLayoutAlign="center center">新增設備</div>
    <div fxFlex="70" class="content" fxLayout="column" fxLayoutAlign="space-around ">
        <form [formGroup]="newDeviceForm" class="newDeviceForm" fxLayout="column" fxLayoutAlign="space-around center">
            <mat-form-field color="primary" appearance="outline" style="width: 60%;">
                <mat-label for="deviceName"> 設備名稱 </mat-label>
                <input matInput id="deviceName" formControlName="deviceName" required />
                <mat-error align="end">
                    <span *ngIf="deviceName?.errors?.['required']">
                        請輸入設備名稱
                    </span>
                    <span *ngIf="deviceName?.errors?.['minlength']">
                        設備名稱至少要有2個字
                    </span>
                    <span *ngIf="deviceName?.errors?.['cannotEmpty']">
                        設備名稱不可為空
                    </span>
                    <span *ngIf="deviceName?.errors?.['uniqueAlterEgo']">
                        設備名稱已存在
                    </span>
                </mat-error>
            </mat-form-field>
            <mat-form-field color="primary" appearance="outline" style="width: 60%;">
                <mat-label>單位</mat-label>
                <mat-select formControlName="deviceUnitGuid" (selectionChange)="onUnitChange($event.value)">
                    <mat-option *ngFor="let unit of unitData" [value]="unit.deviceUnitGuid">
                        {{unit.deviceUnitName}}
                    </mat-option>
                </mat-select>
                <mat-error align="end">
                    <span *ngIf="deviceUnitGuid?.errors?.['required']">
                        請選擇單位
                    </span>
                </mat-error>
            </mat-form-field>
            <mat-form-field color="primary" appearance="outline" style="width: 60%;">
                <mat-label> MAC 位址 </mat-label>
                <input matInput formControlName="deviceMacAddress" required />
                <mat-error align="end">
                    <span *ngIf="deviceMacAddress?.errors?.['required']">
                        請輸入正確的 MAC 位址
                    </span>
                </mat-error>
            </mat-form-field>
            <mat-form-field color="primary" appearance="outline" style="width: 60%;">
                <mat-label> 地點 </mat-label>
                <mat-select formControlName="devicePlaceGuid" [disabled]="!isUnitSelected">
                    <mat-option *ngFor="let place of devicePlaceNameList" [value]="place.devicePlaceGuid">
                        {{place.devicePlaceName}}
                    </mat-option>
                    <mat-option *ngIf="devicePlaceGuid?.errors?.['noPlaces']" [disabled]="true">
                        此單位無地點
                    </mat-option>
                </mat-select>
                <mat-hint align="end" *ngIf="!isUnitSelected">
                    <span>
                        請先選擇單位
                    </span>
                </mat-hint>
                <mat-error align="end">
                    <span *ngIf="!isUnitSelected">
                        請先選擇單位
                    </span>
                    <span *ngIf="isUnitSelected && devicePlaceGuid?.errors?.['required']">
                        請選擇地點
                    </span>
                    <span *ngIf="devicePlaceGuid?.errors?.['noPlaces']">
                        請先新增地點
                    </span>
                </mat-error>
            </mat-form-field>
        </form>
    </div>
    <div fxFlex="15" class="footer" fxLayout="row" fxLayoutAlign="space-evenly center">
        <button mat-raised-button mat-dialog-close>
            <div fxLayout="row" fxLayoutAlign="center center" style="color: red;">
                <mat-icon>close</mat-icon>
                取消
            </div>
        </button>
        <button mat-raised-button [mat-dialog-close]="true" (click)="add()"
            style="margin-left: 10px; color: white;" [disabled]="!newDeviceForm.valid" color="accent">
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon>add</mat-icon>
                新增
            </div>
        </button>
    </div>
</div>