<div class="dialog-title">
    <h1 mat-dialog-title>新增設備</h1>
</div>
<div mat-dialog-content class="newDeviceForm">
    <form class="newDeviceForm" [formGroup]="newDeviceForm">
        <div class="formInput">
            <mat-form-field>
                <mat-label for="deviceName"> 設備名稱 </mat-label>
                <input matInput id="deviceName" formControlName="deviceName" required />
                <mat-error align="end">
                    <span *ngIf="deviceName?.errors?.['required']">
                        請輸入設備名稱
                    </span>
                    <span *ngIf="deviceName?.errors?.['minlength']">
                        設備名稱至少要有2個字
                    </span>
                    <span *ngIf="deviceName?.errors?.['cannotEmpty']">
                        設備名稱不可為空
                    </span>
                    <span *ngIf="deviceName?.errors?.['uniqueAlterEgo']">
                        設備名稱已存在
                    </span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="formInput">
            <mat-form-field>
                <mat-label>單位</mat-label>
                <mat-select formControlName="deviceUnitGuid">
                    <mat-option *ngFor="let unit of unitData" [value]="unit.deviceUnitGuid">
                        {{unit.deviceUnitName}}
                    </mat-option>
                </mat-select>
                <mat-error align="end">
                    <span *ngIf="deviceUnitGuid?.errors?.['required']">
                        單位是必要的
                    </span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="formInput">
            <mat-form-field>
                <mat-label> 地點 </mat-label>
                <mat-select formControlName="devicePlaceName">
                    <mat-option *ngFor="let place of devicePlaceNameList" [value]="place.value">
                        {{place.viewValue}}
                    </mat-option>
                </mat-select>
                <mat-error align="end">
                    <span *ngIf="devicePlaceName?.errors?.['required']">
                        地點是必要的
                    </span>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions class="dialog-action">
    <button mat-raised-button mat-dialog-close>取消</button>
    <button mat-raised-button [mat-dialog-close]="true" (click)="add()" color="accent"
        [disabled]="!newDeviceForm.valid">
        新增
    </button>
</div>