<div class="dialog-title">
    <h1 mat-dialog-title>新增設備</h1>
</div>
<div mat-dialog-content class="newDeviceForm">
    <form [formGroup]="newDeviceForm">
        <div class="formInput">
            <mat-form-field color="accent">
                <mat-label for="deviceName"> 設備名稱 </mat-label>
                <input matInput id="deviceName" formControlName="deviceName" required />
                <mat-error align="end">
                    <span *ngIf="deviceName?.errors?.['required']">
                        請輸入設備名稱
                    </span>
                    <span *ngIf="deviceName?.errors?.['minlength']">
                        設備名稱至少要有2個字
                    </span>
                    <span *ngIf="deviceName?.errors?.['cannotEmpty']">
                        設備名稱不可為空
                    </span>
                    <span *ngIf="deviceName?.errors?.['uniqueAlterEgo']">
                        設備名稱已存在
                    </span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="formInput">
            <mat-form-field color="accent">
                <mat-label>單位</mat-label>
                <mat-select formControlName="deviceUnitGuid" (selectionChange)="onUnitChange($event.value)">
                    <mat-option *ngFor="let unit of unitData" [value]="unit.deviceUnitGuid">
                        {{unit.deviceUnitName}}
                    </mat-option>
                </mat-select>
                <mat-error align="end">
                    <span *ngIf="deviceUnitGuid?.errors?.['required']">
                        請選擇單位
                    </span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="formInput">
            <mat-form-field color="accent">
                <mat-label> MAC 位址 </mat-label>
                <input matInput formControlName="deviceMacAddress" required />
                <mat-error align="end">
                    <span *ngIf="deviceMacAddress?.errors?.['required']">
                        請輸入正確的 MAC 位址
                    </span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="formInput">
            <mat-form-field color="accent">
                <mat-label> 地點 </mat-label>
                <mat-select formControlName="devicePlaceGuid" [disabled]="!isUnitSelected">
                    <mat-option *ngFor="let place of devicePlaceNameList" [value]="place.devicePlaceGuid">
                        {{place.devicePlaceName}}
                    </mat-option>
                    <mat-option *ngIf="devicePlaceGuid?.errors?.['noPlaces']" [disabled]="true">
                        此單位無地點
                    </mat-option>
                </mat-select>
                <mat-hint align="end" *ngIf="!isUnitSelected">
                    <span>
                        請先選擇單位
                    </span>
                </mat-hint>
                <mat-error align="end">
                    <span *ngIf="!isUnitSelected">
                        請先選擇單位
                    </span>
                    <span *ngIf="isUnitSelected && devicePlaceGuid?.errors?.['required']">
                        請選擇地點
                    </span>
                    <span *ngIf="devicePlaceGuid?.errors?.['noPlaces']">
                        請先新增地點
                    </span>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions class="dialog-action">
    <button mat-raised-button mat-dialog-close>取消</button>
    <button mat-raised-button [mat-dialog-close]="true" (click)="add()" color="accent"
        [disabled]="!newDeviceForm.valid">
        新增
    </button>
</div>