.pageheader {
    height: 56px;
    margin-top: 1.3rem
}
.pagetitle {
    background: #82bbb5;
    box-shadow: 5px 5px 5px gray;
    height: 56px;
    font-size: 1.5rem;
    color: white;
    margin-left: 1rem;
    .title-icon {
        margin-left: 1.3rem;
    }
}
.tableOperate {
    margin: 1.3rem 1rem 0 0;
    padding-left: 0rem;
    button {
        height: 56px;
        width: 116px;
        font-size: 16px;
    }
}
.userTable {
    margin: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    table th {
        font-size: 20px;
        background: #bae8e8;
    }
    table td {
        font-size: 18px;
    }
}
.centerAlign {
    // border: 0.5px solid #6b916b;
    border-bottom: 1.5px solid #6b916b;
    //     display: inline-flex;
    //     justify-content: center;
    //     align-items: center;
    //     height: 56px;
}