.pageheader {
    height: 56px;
    margin-top: 1.3rem
}
.pagetitle {
    background: #4E6E62;
    height: 56px;
    font-size: 1.5rem;
    color: white;
    margin-left: 1rem;
    .title-icon {
        margin-left: 1.3rem;
    }
}
.dashboardMain {
    margin-top: 1.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.mainInfo {
    height: 85vh;
    width: 100%;
    box-shadow: 0 0 10px #888;
    .mainTitle{
        color: white;
        background-color: #82bbb5;
        padding: 12px;
        border-radius: 5px 5px 0 0;
        font-size: 3ch;
    }
}
.secondaryInfoCol{
    height: 85vh;
    .secondaryInfo {
        height: 55vh;
        width: 100%;
        box-shadow: 0 0 10px #888;
        .secondaryTitle{
            display: flex;
            justify-content: space-between;
            color: white;
            background-color: #82bbb5;
            padding: 8px;
            border-radius: 5px 5px 0 0;
            font-size: 1.2rem;
        }
    }
}
.thirdInfoRow{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    .thirdInfo{
        width: 100%;
        box-shadow: 0 0 10px #888;
        .thirdTitle{
            display: flex;
            color: white;
            justify-content: center;
            background-color: #82bbb5;
            padding: 8px;
            border-radius: 5px 5px 0 0;
            font-size: 1rem;
        }
    }
    .deviceTotal{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        .deviceTotalQuantity{
            margin: 0;
            font-size: 5ch;
            @media (min-width: 1200px) {
                font-size: 7ch;
            }
            @media (min-width: 1600px) {
                font-size: 9ch;
            }
            @media (min-width: 2000px) {
                font-size: 11ch;
            }
        }
    }
    .deviceError{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        .deviceErrorQuantity{
            margin: 0;
            font-size: 5ch;
            @media (min-width: 1200px) {
                font-size: 7ch;
            }
            @media (min-width: 1600px) {
                font-size: 9ch;
            }
            @media (min-width: 2000px) {
                font-size: 11ch;
            }
            color: red;
        }
    }
    .runningDevice{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        .runningDeviceQuantity{
            margin: 0;
            font-size: 5ch;
            @media (min-width: 1200px) {
                font-size: 7ch;
            }
            @media (min-width: 1600px) {
                font-size: 9ch;
            }
            @media (min-width: 2000px) {
                font-size: 11ch;
            }
        }
    }
    .savedEBills{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        .savedEBillsQuantity{
            margin: 0;
            font-size: 5ch;
            @media (min-width: 1200px) {
                font-size: 7ch;
            }
            @media (min-width: 1600px) {
                font-size: 9ch;
            }
            @media (min-width: 2000px) {
                font-size: 11ch;
            }
        }
    }
}