<!-- <div fxLayout="row" fxLayoutAlign="start center" class="pageheader">
    <div fxLayout="row" class="pagetitle" fxLayoutAlign="start center" fxFlex="40">
        <div fxLayoutAlign="start center" class="title-icon">
            <mat-icon>dashboard</mat-icon>
            <mat-icon>remove</mat-icon>
        </div>
        <div>戰情室</div>
    </div>
</div> -->
<div class="dashboardMain" fxLayout="row" fxLayoutAlign="center start">
    <mat-card class="mainInfo" fxFlex="55">
        <mat-card-header class="mainTitle">
            <mat-card-title>總節碳量</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <!-- 包含非同步載入 Tab Content 的 Tab Group -->
            <ng-container *ngIf="asyncCRTabs | async as tabs; else loading">
                <mat-tab-group (selectedTabChange)="onCRTabChange($event)">
                    <mat-tab *ngFor="let tab of tabs">
                        <ng-template mat-tab-label>{{tab.label}}</ng-template>
                        <ng-container *ngIf="activeCRTab === tab.content">
                            <ng-container [ngComponentOutlet]="tab.content"></ng-container>
                        </ng-container>
                    </mat-tab>
                </mat-tab-group>
            </ng-container>
            <ng-template #loading>Loading tabs...</ng-template>
        </mat-card-content>
        <!-- <mat-card-actions></mat-card-actions> -->
    </mat-card>
    <div fxFlex="1"></div>
    <div class="secondaryInfoCol" fxLayout="column" fxLayoutAlign="start start" fxFlex="44">
        <mat-card class="secondaryInfo">
            <mat-card-header class="secondaryTitle">
                <mat-card-title>總發電量</mat-card-title>
                <span style="margin-top: 2px;font-size: 16px;">度(累加)</span>
            </mat-card-header>
            <mat-card-content>
                <!-- 包含非同步載入 Tab Content 的 Tab Group -->
                <ng-container *ngIf="asyncPGTabs | async as tabs; else loading">
                    <mat-tab-group (selectedTabChange)="onPGTabChange($event)">
                        <mat-tab *ngFor="let tab of tabs">
                            <ng-template mat-tab-label>{{tab.label}}</ng-template>
                            <ng-container style="height: 100%;" *ngIf="activePGTab === tab.content">
                                <ng-container [ngComponentOutlet]="tab.content"></ng-container>
                            </ng-container>
                        </mat-tab>
                    </mat-tab-group>
                </ng-container>
                <ng-template #loading>Loading tabs...</ng-template>
            </mat-card-content>
            <!-- <mat-card-actions></mat-card-actions> -->
        </mat-card>
        <div fxFlex="2"></div>
        <div class="thirdInfoRow">
            <mat-card class="thirdInfo">
                <mat-card-header class="thirdTitle">
                    <mat-card-title>設備總數</mat-card-title>
                </mat-card-header>
                <mat-card-content class="deviceTotal">
                    <!-- 內容 -->
                    <p class="deviceTotalQuantity">{{totalPage}}</p>
                </mat-card-content>
            </mat-card>
            <div fxFlex="2"></div>
            <mat-card class="thirdInfo">
                <mat-card-header class="thirdTitle">
                    <mat-card-title>異常設備數</mat-card-title>
                </mat-card-header>
                <mat-card-content class="deviceError">
                    <!-- 內容 -->
                    <p class="deviceErrorQuantity">{{this.errorDevice}}</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="2"></div>
        <div class="thirdInfoRow">
            <mat-card class="thirdInfo">
                <mat-card-header class="thirdTitle">
                    <mat-card-title>進行中設備數</mat-card-title>
                </mat-card-header>
                <mat-card-content class="runningDevice">
                    <!-- 內容 -->
                    <p class="runningDeviceQuantity">{{totalPage - this.errorDevice}}</p>
                </mat-card-content>
            </mat-card>
            <div fxFlex="2"></div>
            <mat-card class="thirdInfo">
                <mat-card-header class="thirdTitle">
                    <mat-card-title>未定</mat-card-title>
                </mat-card-header>
                <mat-card-content class="carbonSavings">
                    <!-- 內容 -->
                    <p class="carbonSavingsQuantity">0</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>