<div fxLayout="row" fxLayoutAlign="start center" class="pageheader">
    <div fxLayout="row" class="pagetitle" fxLayoutAlign="start center" fxFlex="40">
        <div fxLayoutAlign="start center" class="title-icon">
            <mat-icon>dashboard</mat-icon>
            <mat-icon>remove</mat-icon>
        </div>
        <div>戰情室</div>
    </div>
</div>
<div class="dashboardMain" fxLayout="row" fxLayoutAlign="center start">
    <mat-card class="mainInfo" fxFlex="55">
        <mat-card-header>
            <mat-card-title>主要資訊</mat-card-title>
        </mat-card-header>
    </mat-card>
    <div fxFlex="1"></div>
    <div class="secondaryInfoRow" fxLayout="column" fxLayoutAlign="start start" fxFlex="44">
        <mat-card class="secondaryInfo" fxFlex="30">
            <mat-card-header>
                <mat-card-title>次要資訊</mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card class="secondaryInfo" fxFlex="30">
            <mat-card-header>
                <mat-card-title>次要資訊</mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card class="secondaryInfo" fxFlex="20">
            <mat-card-header>
                <mat-card-title>次要資訊</mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card class="secondaryInfo" style="margin-bottom: 0;" fxFlex="20">
            <mat-card-header>
                <mat-card-title>次要資訊</mat-card-title>
            </mat-card-header>
        </mat-card>
    </div>
</div>