@use '@angular/material' as mat;
@include mat.core();

$mytheme-primary: mat.define-palette(mat.$green-palette, 200);
$mytheme-primary-light: mat.define-palette(mat.$green-palette, 50);
$mytheme-accent: mat.define-palette(mat.$green-palette, 300);
$mytheme-warn: mat.define-palette(mat.$red-palette);

$mytheme-theme: mat.define-light-theme((
  color: (
    primary: $mytheme-primary,
    primary-light: $mytheme-primary-light,
    accent: $mytheme-accent,
    warn: $mytheme-warn,
  )
));

@include mat.all-component-themes($mytheme-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }