<div class="tableOperate">
    <mat-form-field>
        <input matInput #filter placeholder="搜尋">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="newDialog('0ms', '0ms')">新增設備</button>
</div>
<div class="deviceTable">
    <table mat-table [dataSource]="dataSource" matSort>
        <!-- deviceName Column -->
        <ng-container matColumnDef="deviceName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="centerAlign"> 設備名稱 </th>
            <td mat-cell *matCellDef="let element"> {{element.deviceName}} </td>
        </ng-container>
        <!-- deviceAddress Column -->
        <ng-container matColumnDef="deviceAddress">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="centerAlign"> 位址 </th>
            <td mat-cell *matCellDef="let element"> {{element.deviceAddress}} </td>
        </ng-container>
        <!-- devicePlace Column -->
        <ng-container matColumnDef="devicePlace">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="centerAlign"> 位置 </th>
            <td mat-cell *matCellDef="let element">
                {{element.devicePlace}}
                <!-- <button type="button" class="delete" title="delete eauipment" (click)="delete(element)">x</button> -->
            </td>
        </ng-container>
        <!-- BatteryPower Column -->
        <!-- <ng-container matColumnDef="batteryPower">
                <th mat-header-cell *matHeaderCellDef> 電量 </th>
                <td mat-cell *matCellDef="let element"> {{element.batteryPower}} </td>
            </ng-container> -->
        <!-- createTime Column -->
        <!-- <ng-container matColumnDef="createTime">
                <th mat-header-cell *matHeaderCellDef> 創建時間 </th>
                <td mat-cell *matCellDef="let element"> {{element.createTime}} </td>
            </ng-container> -->
        <!-- operation Column -->
        <ng-container matColumnDef="operation">
            <th mat-header-cell *matHeaderCellDef class="centerAlign"> 操作 </th>
            <td mat-cell *matCellDef="let element">
                <!-- 編輯 -->
                <button mat-icon-button (click)="editDialog('0ms', '0ms', element)">
                    <mat-icon style="color: #0000C6;">edit</mat-icon>
                </button>
                <!-- 刪除 -->
                <button mat-icon-button (click)="deleteDialog('0ms', '0ms', element)">
                    <mat-icon style="color: #AE0000;">delete</mat-icon>
                </button>
                <!-- 詳細資訊 -->
                <button mat-icon-button>
                    <mat-icon color="primary">info</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>
<!-- <button mat-flat-button routerLink="/app-device-detail/{{element.devName}}"> -->