<div fxLayout="row" fxLayoutAlign="start center" class="pageheader">
    <div fxLayout="row" class="pagetitle" fxLayoutAlign="start center" fxFlex="40">
        <div fxLayoutAlign="start center" class="title-icon">
            <mat-icon style="color: white;">construction</mat-icon>
            <mat-icon style="color: white;">remove</mat-icon>
        </div>
        <div>設備管理</div>
    </div>
    <div class="tableOperate" fxLayoutAlign="end start" fxFlex="60">
    <!-- <div fxLayoutAlign="space-between center" fxFlex="80"> -->
        <mat-form-field style="margin-right: 20px;">
            <input matInput #filter placeholder="搜尋設備名稱">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="newDialog('0ms', '0ms')">新增設備</button>
    </div>
</div>
<div class="deviceTable">
    <table mat-table [dataSource]="dataSource">
        <!-- deviceName Column -->
        <ng-container matColumnDef="deviceName">
            <th mat-header-cell *matHeaderCellDef class="centerAlign"> 設備名稱 </th>
            <td mat-cell *matCellDef="let element"> {{element.deviceName}} </td>
        </ng-container>
        <!-- deviceAddress Column -->
        <ng-container matColumnDef="deviceAddress">
            <th mat-header-cell *matHeaderCellDef class="centerAlign"> 單位 </th>
            <td mat-cell *matCellDef="let element"> {{element.deviceAddress}} </td>
        </ng-container>
        <!-- devicePlace Column -->
        <ng-container matColumnDef="devicePlace">
            <th mat-header-cell *matHeaderCellDef class="centerAlign"> 地點 </th>
            <td mat-cell *matCellDef="let element">
                {{element.devicePlace}}
            </td>
        </ng-container>
        <!-- operation Column -->
        <ng-container matColumnDef="operation">
            <th mat-header-cell *matHeaderCellDef class="centerAlign"> 操作 </th>
            <td mat-cell *matCellDef="let element">
                <!-- 編輯 -->
                <button mat-icon-button matTooltip="編輯" (click)="editDialog('0ms', '0ms', element)">
                    <mat-icon style="color: #0000C6;">edit</mat-icon>
                </button>
                <!-- 刪除 -->
                <button mat-icon-button matTooltip="刪除" (click)="deleteDialog('0ms', '0ms', element)">
                    <mat-icon style="color: #AE0000;">delete</mat-icon>
                </button>
                <!-- 詳細資訊 -->
                <button [routerLink]="['/app-home/app-device-detail', element.deviceGuid]" mat-icon-button matTooltip="詳細資訊">
                    <mat-icon color="primary">info</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- [length]="totalCount" 需要返回參數 -->
    <mat-paginator #paginator [length]="this.totalPage" pageIndex="0" pageSize="6" [pageSizeOptions]="[6,8,10]">
    </mat-paginator>
</div>
<!-- <button mat-flat-button routerLink="/app-device-detail/{{element.devName}}"> -->